body {
  background-color: #E75480;
}

#container {
  display: flex;
  justify-content:center;
  width:100%;
}

p {
  color: pink;
}

#text_field_wrapper {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 85vh;
}

#text_field {
  background-color: white;
  width: 50%;
  height: 100%;
}
